// COLORS
$primary-color: #222C35;
$color-secondary: #53a1ad;
$color-red: #D72322;
$color-grey-1: #8f9396;
$color-grey-2: #425051;
$color-grey-light-1: #F7F7F7;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Montserrat', sans-serif;