// COLORS
$color-primary: #222C35;
$color-secondary: #53a1ad;
$color-red: #D72322;
$color-red-light: #f17373;
$color-grey-1: #8f9396;
$color-grey-2: #425051;
$color-grey-2-dark: #2e3030;
$color-grey-light-1: #F7F7F7;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-2: #eee;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Montserrat', sans-serif;

// LOGIC
 