.navigation {
    grid-row: 1 / 1;
    grid-column: full-start / full-end;
    z-index: 1;
    padding: 8rem 0rem;
    justify-self: center;
    overflow: hidden;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 45rem minmax(50rem, min-content) 45rem;

    font-family: $font-display;
   
    

    &__nav--left {
        justify-self: center;
        align-self: center;
        margin-top: 5rem;
        
        &::before {
            content: "";
            height: 1px;
            display: block;
            //margin-bottom: 2rem;
            background-color: currentColor;
        }
    }

    &__nav--center {
        justify-self: center;
        align-self: center;
        
    }

    &__nav--right {
        
        justify-self: center;
        align-self: center;
        margin-top: 5rem;
        margin-right: 2.6rem;

        &::before {
            content: "";
            height: 1px;
            display: block;
            //margin-bottom: 2rem;
            background-color: currentColor;
        }
        
        
    }

    &__header {
        letter-spacing: 3px;
    }

    &__list {
        justify-self: center;
        list-style: none;
        text-decoration: none;
        text-align: center;
        padding: 1rem 0;
    }

    &__item {
        position: relative;
        display: inline;
        &:not(.navigation__center) {
            margin: 1rem;
        }

    }

    &__item:before {
        content: "";
        position: absolute;
        top: -160%;
        left: -8%;
        height: 3px;
        width: 110%;
        background-color: #fff;
        transform: scaleX(0);
        transition: transform .2s, height .4s cubic-bezier(1,0,0,1) .2s, background-color .1s;
    }

    &__item:hover::before {
        transform: scaleX(1);
        height: 280%;
        color: $color-primary;
    }

    

    &__link {
        position: relative;
        transition: all .5s;

        &:link,
        &:visited {
            text-decoration: none;
            color: #fff;
            display: inline-block;
            &:not(.heading-1) {
                font-size: 1.2rem;
                font-weight: 200;
                text-transform: uppercase;
            }
        
            letter-spacing: .4rem;
            
        }

        &:hover {
            color: $color-primary;
            z-index: 10;
        }
    }
}