.navigation {
    grid-row: 1 / 1;
    grid-column: full-start / full-end;
    z-index: 1;
    padding: 8rem 0rem;
    justify-self: center;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 45rem minmax(50rem, min-content) 45rem;

    font-family: $font-display;
    

    &__nav--left {
        justify-self: center;
        align-self: center;
        margin-top: 5rem;
        
        &::before {
            content: "";
            height: 1px;
            display: block;
            margin-bottom: 2rem;
            background-color: currentColor;
        }
    }

    &__nav--center {
        justify-self: center;
        align-self: center;
        
    }

    &__nav--right {
        justify-self: center;
        align-self: center;
        margin-top: 5rem;
        margin-right: 2.6rem;

        &::before {
            content: "";
            height: 1px;
            display: block;
            margin-bottom: 2rem;
            background-color: currentColor;
        }
        
        
    }

    &__header {
        font-weight: 200;
        
    }

    &__list {
        justify-self: center;
        list-style: none;
        text-decoration: none;
    }

    &__item {
        display: inline;
        &:not(.navigation__center) {
            margin: 1rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: #fff;
            display: inline-block;
            &:not(.heading-1) {
                font-size: 1.2rem;
                font-weight: 200;
                text-transform: uppercase;
            }
        
            letter-spacing: .4rem;
            
        }
    }
}