.my-work {
    background-image: linear-gradient(to right, $color-primary, $color-secondary);
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: (8, 1fr);
    grid-template-rows: (8, 5vw);
    grid-gap: 1.5rem;
    padding: 1.5rem;
    margin-top: $margin-top;
    position: relative;

    &__header {
        grid-row: 1 / 2;
        grid-column: 1 / 9;
        justify-self: center;
        padding: 6rem;

        &::after {
            content: "";
            height: 3px;
            width: 25%;
            display: block;
            margin-top: 3rem;
            margin-left: 14rem;
            background-image: linear-gradient(to top right,  $color-secondary, #fff);
        }
    }

   

    &__item {
        position: relative;

        &--1 {
            grid-row: 2 /  4;
            grid-column: 1 / span 2;
        }

        &--2 {
            grid-row: 2 / 5;
            grid-column: 3 / 6;
        }

        &--3 {
            grid-row: 2 / 4;
            grid-column: 6 / 7;
        }

        &--4 {
            grid-row: 2 / 4;
            grid-column: 7 / 9;
        }

        &--5 {
            grid-row: 4 / 7;
            grid-column: 1 / 3;
        }

        &--6 {
            grid-row: 5 / 7;
            grid-column: 3 / 5;
        }

        &--7 {
            grid-row: 5 / 6;
            grid-column: 5 / 6;
        }

        &--8 {
            grid-row: 4 / 6;
            grid-column: 6 / 8;
        }

        &--9 {
            grid-row: 4 / 7;
            grid-column: 8 / 9;
        }

        &--10 {
            grid-row: 7 / 9;
            grid-column: 1 / 2;
        }

        &--11 {
            grid-row: 7 / 9;
            grid-column: 2 / 4;
        }

        &--12 {
            grid-row: 7 / 9;
            grid-column: 4 / 5;
        }

        &--13 {
            grid-row: 6 / 9;
            grid-column: 5 / 8;
        }

        &--14 {
            grid-row: 7 / 9;
            grid-column: 8 / 9;
        }
    }

    

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        transition: all .5s;
        position: relative;
       

        &--overlay {
            opacity: 0.7;    /* -> transparency 50% */
            height: 100%;   /* -> image_height - padding */
            width: 100%;    /* -> image_width - padding */
        }

        &:hover {
            filter: blur(5px) brightness(60%);            
        }

        &:hover + .my-work__play-btn {
            opacity: 1;
            -moz-transform: translate(-50%, -50%) rotate(0.001deg) ;
            transform: translate(-50%, -50%) rotate(0.001deg);
            
        }

        &:hover ~ .my-work__heading {
            
            opacity: 1;
            transform: rotate(0.001deg) translate(-50%, -50%);
        }
    }

    &__play-btn {
        transition: all .5s;
        opacity: 0;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -150%);
        position: absolute;
        background-image: linear-gradient(to right, $color-secondary, $color-secondary);
        background-size: 50% 50%;
        background-position: 50%;
        background-repeat: no-repeat;
        backface-visibility: hidden;
        color: #fff;

        &:hover {
            opacity: 1;
            transform: translate(-50%, -50%);
        }

        &:hover ~ .my-work__heading {
            opacity: 1;
            transform: translate(-50%, -50%);
        }

    }

    &__icon {
        font-size: 6rem;
        background-image: linear-gradient(to right, $color-secondary, $color-secondary);
        background-size: 50% 50%;
        background-position: 50%;
        background-repeat: no-repeat;
        backface-visibility: hidden;
    }

    &__heading {
        height: 2rem;
        top: 70%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, 70%);
        opacity: 0;
        transition: all .5s;

        &:hover {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }

}

.show {
    opacity: 1;
}