.services {
    //background-color: $color-grey-light-1;
    grid-column: center-start / center-end;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

    grid-gap: 6rem;
    margin: 5rem 1rem;

    &__header {
        justify-self: center;
        grid-column: 1 / -1;
        font-family: $font-display;
        color:  transparent;
        background-clip: text;
        -webkit-background-clip: text;
        font-size: 4rem;
        background-image: linear-gradient(to top right, $color-primary, $color-secondary);
        &::after {
            content: "";
            height: 3px;
            width: 25%;
            display: block;
            margin-top: 2rem;
            margin-left: 8.5rem;
            background-image: linear-gradient(to top right, $color-primary, $color-secondary);
        }
    }
}

.service {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;

    &__icon {
        grid-row: 1 / span 2;
        display: inline-block;
        font-size: 5rem;
        color: transparent;
        background-image: linear-gradient(to top right, $color-primary, $color-secondary);
        background-clip: text;
        -webkit-background-clip: text;
    }

    &__text {
        font-size: 1.5rem;
        color: $color-primary;
    }
}