*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
    font-weight: 300;
    line-height: 1.6;
    color: #fff;
}

.container {
    display: grid;
    grid-template-rows: 100vh repeat(4, min-content) 100vh repeat(2, min-content);
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];
}