%heading {
    font-family: $font-primary;
    font-weight: 300;
}

.heading-1 {
    @extend %heading;

    font-size: 3.5rem;
    text-transform: uppercase;
    line-height: 1;

    &--dark {
        color: $color-primary;
    }
}

.heading-4 {
    @extend %heading;
    font-size: 2rem;
    text-transform: uppercase;

    &--dark {
        color: $color-primary;
    }
}

